<a href="https://colab.research.google.com/github/Nithish4603/nithish/blob/main/CM2GRM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import nltk

In [41]:
df = pd.read_csv('/content/train.tsv', sep='\t',header= None,encoding='utf8')

In [42]:
df.head()

       0  1
0  ansin  N
1      )  N
2     tá  N
3   níos  N
4     lú  N

In [43]:
df.columns = ['text','tag']
df

           text tag
0         ansin   N
1             )   N
2            tá   N
3          níos   N
4            lú   N
...         ...  ..
5057054      do   N
5057055  daoine   S
5057056   beaga   N
5057057       .   N
5057058     <S>   N

[5057059 rows x 2 columns]

In [44]:
prec_token = []
for i in range(1,df.shape[0]):
  k =  str(df['text'][i-1]) + ' ' + str(df['text'][i] )
  prec_token.append(k)

In [45]:
df['text'] = pd.DataFrame (prec_token, columns = ['text'])
df

                 text tag
0             ansin )   N
1                ) tá   N
2             tá níos   N
3             níos lú   N
4          lú gaeilge   N
...               ...  ..
5057054     do daoine   N
5057055  daoine beaga   S
5057056       beaga .   N
5057057         . <S>   N
5057058           NaN   N

[5057059 rows x 2 columns]

In [46]:
listt = df['tag'].tolist()
listt = listt[1:]

In [47]:
df.drop(df.tail(1).index,inplace=True)

In [49]:
df['tags'] = listt

In [50]:
df

                 text tag tags
0             ansin )   N    N
1                ) tá   N    N
2             tá níos   N    N
3             níos lú   N    N
4          lú gaeilge   N    N
...               ...  ..  ...
5057053        mór do   S    N
5057054     do daoine   N    S
5057055  daoine beaga   S    N
5057056       beaga .   N    N
5057057         . <S>   N    N

[5057058 rows x 3 columns]

In [51]:
df['text'] = df['text'].str.replace('<S>','')

In [52]:
df['text'] = df['text'].str.replace('<NUM>','')

In [53]:
df['text'] = df['text'].str.replace('<URL>','')

In [54]:
df['text'] = df['text'].str.replace('<EMAIL>','')

In [55]:
from sklearn.preprocessing import LabelEncoder
en = LabelEncoder()
df['tags'] = en.fit_transform(df['tags'].fillna(' '))

In [56]:
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer(max_features=1000)
cv = vec.fit_transform(df['text'])

In [57]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(cv,df['tags'], test_size=0.2, random_state=0)

In [58]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [59]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.9046194824660969